@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'futura';
      src:  url('../fonts/Futura Book Regular.otf');
}
@font-face {font-family: 'futura2';
      src:  url('../fonts/futuran_bt.ttf');
}
@font-face {font-family: 'futuramedium';
      src:  url('../fonts/FuturaStd-Medium.otf');
}
@font-face {font-family: 'futurabold';
      src:  url('../fonts/FuturaStd-Bold.ttf');
}
@font-face {font-family: 'futuraheavy';
      src:  url('../fonts/FuturaStd-Heavy.ttf');
}
@font-face {font-family: 'futuralight';
      src:  url('../fonts/FuturaStd-Light.ttf');
}
@font-face {
  font-family: 'Heiti SC';
  src: url('../fonts/STHeiti.ttc');
  src: local('Heiti SC'), url('../fonts/STHeiti.ttf') format('truetype');
}

.slide-section * + .btn, .slide-section * + .btn-block {
  margin-top: 25px;
}

.btn-sm {
  padding: 12px 20px;
  font-size: 14px;
}

.btn-primary {
  border-radius: 0;
  border: 1px solid #6cbcec;
  background: transparent;
}

.btn-primary:after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 0;
  background: #6cbcec;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: -1;
}

.btn-primary:hover {
  color: #fff;
  background: transparent;
  border-color: #6cbcec;
}

.btn-primary:hover:focus:after {
  width: 0;
}

.btn-primary:hover:after {
  width: 100%;
}

.btn-primary:focus {
  color: #6cbcec;
  background: transparent;
  border-color: #6cbcec;
  outline: none;
}

.btn-primary:focus:hover {
  color: #6cbcec;
}

.btn-primary:active {
  color: #6cbcec;
  background: transparent;
  border-color: #fff;
}

.btn-primary:active:focus {
  color: #6cbcec;
  background: transparent;
  outline: none;
  border-color: #6cbcec;
}

.js-form input:required:valid {
  border-color: #1FB51D;
}

.js-form input:-webkit-autofill {
  background-color: red !important;
  color: red !important;
}

.js-result {
  position: absolute;
  bottom: -100px;
  padding: 8px 20px;
  color: #fff;
  background-color: gray;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  -webkit-box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 1200;
}

.js-result.success, .js-result.error {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
}

.js-result.success {
  background-color: #1FB51D;
}

.js-result.error {
  background-color: #EC6F28;
}

.form-resault {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -100px;
  padding: 8px 20px;
  background-color: gray;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1200;
  opacity: 0;
}

.form-resault.correct {
  background-color: #1FB51D;
  bottom: 20px;
  opacity: 1;
}

.form-resault.incorrect {
  background-color: #EC6F28;
  bottom: 20px;
  opacity: 1;
}

.input-error {
  position: relative;
}

.input-error .form-control {
  border-color: red;
}

#fss {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-image {
  position: relative;
  z-index: 1;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  background: transparent;
  color: #fff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  box-shadow: none;
  height: 48px;
}

.form-control:hover {
  border-color: #6cbcec;
}

.form-control:focus {
  box-shadow: none;
  border-color: #6cbcec;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
}

textarea.form-control {
  height: 110px;
  resize: none;
}

.subscription-form .form-control {
  text-align: center;
}

.contact-form {
  margin-top: 20px;
}

.contact-data {
  margin-top: 30px;
}

.contact-data .icon {
  display: block;
  font-size: 25px;
}

.contact-data .icon + * {
  margin-top: 10px;
}

.contact-data * + h6 {
  margin-top: 10px;
  line-height: 1;
}

.popover-cont {
  display: none;
  position: absolute;
  top: -30px;
  -webkit-transform: translatey(-10px);
  transform: translatey(-10px);
  background: rgba(204, 204, 204, 0.5);
  color: #fff;
  font-size: 14px;
  font-family: heiti sc;
  white-space: nowrap;
  padding: 4px 5px;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (min-width: 768px) {
  .popover-cont {
    display: block;
  }
}

.popover-cont:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 6px 0 6px;
  border-color: rgba(204, 204, 204, 0.5) transparent transparent transparent;
}

.text-justify {
  text-align: justify;
}

.subscription-form {
  margin-top: 10px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.bg-image:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/1.jpg) top center no-repeat;
  background-size: cover;
  z-index: -1;
}

.img-circle {
  box-shadow: 0px 0px 8px 1.4px #6cbcec; border-radius: 100%; margin-bottom: 10px;
  width: 85%;
}

.floatleft{float:left;}
.floatright{float:right;}
.textalign_c{ text-align:center;}
.textalign_l{ text-align:left;}
.textalign_r{ text-align:right;}
.logobox{ color: #fff; text-align:center; line-height:100px; font-size: 32px; fon: ;}
.topicontable{text-align: right;}
.topiconbox{display: inline-block;margin: 40px 21px;;}
.topiconbox:hover{cursor:pointer;}
.hrule{ border-bottom:1px solid #CCC; margin:30px 0;}
.bannericonaslogo{margin: 7vh 0 0 0;}
.bannertext{ color:#fff; margin:10vh 0 10vh 0; text-transform:uppercase; font-weight:normal;}
.bannertext h1 {
    line-height: inherit;
}
.bannerbtn{ width:100%; padding:12px; font-size:18px; background:transparent; border-radius:0; border-color:#6cbcec; -webkit-transition:all ease-in .15s; -moz-transition:all ease-in .15s; -ms-transition:all ease-in .15s; -o-transition:all ease-in .15s; transition:all ease-in .15s;}
.bannerbtn:hover{ background:rgba(108, 188, 236, 0.32); color:#fff; cursor:pointer;}
.bottomarrow{margin:30px auto 0; width:25px;position:relative;}
.bottomarrow img{width:100%;}
.bottomarrow:hover{cursor:pointer;}
.aboutusbgarea{padding:50px 0 20px 0; border-bottom:1px solid #CCC; min-height:770px;}
.sectionhead{font-family: heiti sc; text-transform: uppercase; display:table; color:#fff; text-align:center;}
.aboutuscon{width:72%; margin:0 auto 100px; font-family:heiti sc; letter-spacing:3px; color:#fff; text-align:center;}
.roadmapbgarea{padding:50px 0 25px 0; border-bottom:1px solid #CCC;}
.roadmaptable{margin:30px auto 40px;}
.roadmapnumber{width:120px; float:left; padding:10px; font-family: heiti sc; font-size:60px; color:#fff; text-align:center; line-height:50px; font-weight:bold; }
.roadmapmonth{font-family:heiti sc; font-size:16px; color:#fff; text-align:center; letter-spacing:2px;}
.roadmapcon{font-family:heiti sc; color:#fff; letter-spacing:3px; float:left; }
.roadmapnumbergap{width:100%; height:30px;}
.section.team {
    border-top: #6cbcec 1px solid;
    border-bottom: #6cbcec 1px solid;
    background: rgba(30, 54, 69, 0.45);
    color: #fff;
    margin-top: 112px;
    font-size: 15px;
}
.section.team h1 {margin-bottom: 70px;padding: 20px 0;;
   
}
.teamarea{padding:50px 0;}
.teamboxarea{margin:auto; background: rgba(245, 245, 245, 0.07); }
.teambox{width:200px; height:200px; margin:50px auto 30px;}
.teamboxtext{font-family: heiti sc; font-size:18px; font-weight:bold; letter-spacing:5px; color:#fff; text-align:center;}
.teamtitle{font-weight:normal; font-family: heiti sc;}
.smallbio{font-family:heiti sc; font-size:12px; font-weight:bold; letter-spacing:1px; color:#fff; text-align:center; padding: 10;}

.hero-sec{
  height: 100vh;
  /*background: -moz-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(86,141,226,0.89)), color-stop(100%, #511d80));
    background: -webkit-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: -o-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: -ms-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: linear-gradient(135deg, rgba(86,141,226,0.89) 0%, #511d80 100%);*/
    background-size: 120% 120%;
  margin-top: -82px;
  padding-top: 100px;
    text-align: center;
    min-height: 700px;
}
canvas {
    width: 100%;
    height: 100%;
}
#home header{
  margin-top: -100vh;
  font-family: junction-L;
}

section::after {
    clear: both;
    content: "";
    display: block;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #FFFFFF;
  text-align: center;
  font-family:heiti sc;
  letter-spacing:0px;
  font-weight: bold; 
  font-size: 16px;
}

.section {
    position: relative;
    padding: 0;
}



@media(max-width: 768px){
  .teamboxarea .teambox{
     width: 100%;
     height: auto;
  }
  .teamboxarea .teambox img{
         max-width: 150px;
    margin: 0 auto;
    display: block;
    height: auto;
  }
  .img-circle {
    width: 50%;
}

.bannericonaslogo {
    margin: 4vh 0 0 0;
}
.topicontable {
    text-align: center;
    margin-top: 40px;
}
.topiconbox {
    display: inline-block;
    margin: 0px 14px;
}
.bannertext {
    margin: 5vh 0 4vh 0;
    font-size: 7vw;;
}
.bannerbtn {
    width: 90%;
    margin: 10px 0;
}
}
@media(max-width: 640px){
  html, body{
    padding-bottom: 40px;
  }
  #footer a{
    font-size: 14px;
  }
  .roadmapnumber{
    float: none;
    display: block;
    margin: 0 auto;
  }
  .roadmaptable{
    text-align: center;
  }
  
  .bannertext{
    margin-top: 37px;
    padding: 0px 15px;
  }
  .aboutuscon{
    width: 80%;
  }
}
@media(max-width: 380px){
  #footer a{
    font-size: 12px !Important;
  }
  .bannericonaslogo{
    margin-top: 25px;
  }
  .topicontable {
    text-align: center;
    margin-top: -18px;
}
 footer .topicontable {
    text-align: center;
    margin-top: 28px;
}
}
/* unvisited link */

a:link {
    color:  white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color:  white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #6cbcec;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #6cbcec;
}
footer {color: #fff;

}
.item {
    margin-bottom: 80px;
  }
  footer.section {
    color: #fff;
    padding: 0 0 40px 0;
}



