@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'futura';
			src: 	url('../fonts/Futura Book Regular.otf');
}
@font-face {font-family: 'futura2';
			src: 	url('../fonts/futuran_bt.ttf');
}
@font-face {font-family: 'futuramedium';
			src: 	url('../fonts/FuturaStd-Medium.otf');
}
@font-face {font-family: 'futurabold';
			src: 	url('../fonts/FuturaStd-Bold.ttf');
}
@font-face {font-family: 'futuraheavy';
			src: 	url('../fonts/FuturaStd-Heavy.ttf');
}
@font-face {font-family: 'futuralight';
			src: 	url('../fonts/FuturaStd-Light.ttf');
}

.img-circle {
  border-radius: 50%;
}

.img-circle:hover { 
  border: 3px solid #FED12D; 
} 

.floatleft{float:left;}
.floatright{float:right;}
.textalign_c{ text-align:center;}
.textalign_l{ text-align:left;}
.textalign_r{ text-align:right;}
.logobox{width:200px; font-family:"futuramedium"; font-size:44px; color:#000; text-align:center; letter-spacing:5px; line-height:100px;}
.topicontable{display:table;}
.topiconbox{float:left; display:table-cell; margin:40px 21px;position:relative;}
.topiconbox:hover{cursor:pointer;}
.hrule{ border-bottom:1px solid #CCC; margin:30px 0;}
.bannericonaslogo{ margin:50px auto 0; width:100px; height:171px;}
.bannertext{ font-family:"futuramedium"; letter-spacing:5px; color:#1d1d1d; text-align:center; text-transform:uppercase; margin:20px auto;}
.bannerbtn{width:253px; padding:12px; border:8px solid #000; background:#FFF; font-family:"futuramedium"; font-size:20px; color:#000; text-align:center; letter-spacing:5px; position:relative;}
.bannerbtn:hover{border:8px solid #000; background:#000; color:#fff; cursor:pointer;}
.bottomarrow{margin:30px auto 0; width:25px;position:relative;}
.bottomarrow img{width:100%;}
.bottomarrow:hover{cursor:pointer;}
.aboutusbgarea{padding:50px 0 20px 0; border-bottom:1px solid #CCC; min-height:770px;}
.sectionhead{display:table; font-family:"futuramedium"; font-size:40px; color:#000; text-align:center; letter-spacing:5px; font-weight:bold;}
.aboutuscon{width:72%; margin:0 auto 100px; font-family:"futuramedium"; letter-spacing:3px; color:#000; text-align:center;}
.roadmapbgarea{padding:50px 0 25px 0; border-bottom:1px solid #CCC;}
.roadmaptable{margin:30px auto 40px;}
.roadmapnumber{width:120px; float:left; padding:10px; font-family:"futurabold"; font-size:60px; color:#000; text-align:center; line-height:50px; font-weight:bold; }
.roadmapmonth{font-family:"futuramedium"; font-size:16px; color:#000; text-align:center; letter-spacing:2px;}
.roadmapcon{font-family:"futuramedium"; color:#000; letter-spacing:3px; float:left; }
.roadmapnumbergap{width:100%; height:30px;}
.teamarea{padding:50px 0;}
.teamboxarea{margin:auto;}
.teambox{width:200px; height:200px; margin:50px auto 30px;}
.teamboxtext{font-family:"futuraheavy"; font-size:18px; font-weight:bold; letter-spacing:3px; color:#000; text-align:center;}
.teamtitle{font-weight:normal; font-family:"futuralight";}
.smallbio{font-family:"futuramedium"; font-size:14px; font-weight:bold; letter-spacing:3px; color:#000; text-align:center;}

.hero-sec{
	height: 100vh;
	/*background: -moz-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(86,141,226,0.89)), color-stop(100%, #511d80));
    background: -webkit-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: -o-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: -ms-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
    background: linear-gradient(135deg, rgba(86,141,226,0.89) 0%, #511d80 100%);*/
    background-size: 120% 120%;
	margin-top: -82px;
	padding-top: 100px;
    text-align: center;
    min-height: 700px;
}
canvas {
    width: 100%;
    height: 100%;
}
#home header{
	margin-top: -100vh;
	font-family: junction-L;
}

section::after {
    clear: both;
    content: "";
    display: block;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #FFFFFF;
  text-align: center;
  font-family:"futuramedium";
  letter-spacing:0px;
  font-weight: bold; 
  font-size: 16px;
}
@media(max-width: 768px){
  .teamboxarea .teambox{
     width: 100%;
     height: auto;
  }
  .teamboxarea .teambox img{
         max-width: 150px;
    margin: 0 auto;
    display: block;
    height: auto;
  }
}
@media(max-width: 640px){
  html, body{
    padding-bottom: 40px;
  }
  #footer a{
    font-size: 14px;
  }
  .roadmapnumber{
    float: none;
    display: block;
    margin: 0 auto;
  }
  .roadmaptable{
    text-align: center;
  }
  
  .bannertext{
    padding: 0px 15px;
    margin: 40px auto;
  }
  .aboutuscon{
    width: 80%;
  }
}
@media(max-width: 380px){
  #footer a{
    font-size: 12px !Important;
  }
  .bannericonaslogo{
    margin-top: 10px;
  }
}
/* unvisited link */
a:link {
    color:  #5C037B;
    text-decoration: none;
}

/* visited link */
a:visited {
    color:  #5C037B;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FED12D;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
}
